body {
    background-color: darkgrey;
    height: 100vh;
    margin: 0;
}

.outer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20vh;
}

.grid-container {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 6px 58px -7px rgba(0,0,0,0.75);

}

.grid-row {
    display: flex;
    width: 100%;
}

.grid-column {
    flex: 1;
    background-color: white;
    /* border: 1px solid black; */
    aspect-ratio: 1/1;
}

button {
    display: flex;

}